* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #f1f3f6;
    color: #34495e;
    overflow-y: scroll;
}

header, nav, section {
    padding: 2px calc((100% - 800px) / 2) 0;
}

section {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    background-image: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-left: 40px;
}

td.expense{
    padding: 5px;
}

.graph {
    height: 500px;
}

svg.graph {
    height: 600px;
    width: 600px;
}

.hide {
    display: block;
    color: black;
}

.path {
    pointer-events:all;
}

.path:hover + .hide {
    display: block;
    color: red;
}

.htmx-indicator{
    display:none;
}
.htmx-request .htmx-indicator{
    display:inline;
}
.htmx-request + .htmx-indicator{
    display:inline;
}

.flex_div {
    display: flex;
}

.add_form {
    max-width: 400px; /* Limit the form width */
    margin: 0 200px;   /* Center the form */
    margin-right: auto;
}
.add_label {
    /*margin-top: 10px;*/
    display: block; /* Ensures label and input are stacked */
}
.add_input {
    width: 100%; /* Makes input fields take full width */
    padding: 3px;
    margin-bottom: 10px;
}