{{template "base" .}}

{{define "title"}}New Expense{{end}}

{{define "main"}}
    {{if .AddShow}}
        {{with .AddShow}}
        <div class='horizontal-container'>
            <div class='form-container'>
                <form class='form' action='/add' method='POST'>
                    <div class='form-group'>
                        <label class='add_label'>Date:</label>
                        <input class='add_input' type='date' name='date' value='{{.Date}}' autocomplete='off'>
                    </div>
                    <div class='form-group' >
                        <label class='add_label'>Expense name:</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='name' value='{{.Form.Values.Get "name"}}' list='expense_name' autocomplete='off'>
                            <datalist id="expense_name">
                                {{range $.AddShow.ExpenseName}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Subcat:</label>
                        {{with .Form.Errors.Get "subcat"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='subcat' value='{{.Form.Values.Get "subcat"}}' list="subcat" autocomplete='off'>
                            <datalist id="subcat">
                                {{range .Subcat}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>City:</label>
                        <input class='add_input' type='text' name='city' list="city_names" value='челябинск' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Online:</label>
                        {{$exp := or (.Form.Values.Get "online") "false"}}
                        <input type='radio' name='online' value='false' {{if (eq $exp "false")}}checked{{end}}> false
                        <input type='radio' name='online' value='true' {{if (eq $exp "true")}}checked{{end}}> true
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Expense count:</label>
                        {{with .Form.Errors.Get "count"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='count' value='{{.Form.Values.Get "count"}}' autocomplete='off'>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Expense price:</label>
                        {{with .Form.Errors.Get "price"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='price' value='{{.Form.Values.Get "price"}}' autocomplete='off'>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Nds:</label>
                        {{with .Form.Errors.Get "nds"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        {{$exp := or (.Form.Values.Get "nds") "20"}}
                        <input type='radio' name='nds' value='20' {{if (eq $exp "20")}}checked{{end}}> 20%
                        <input type='radio' name='nds' value='10' {{if (eq $exp "10")}}checked{{end}}> 10%
                        <input type='radio' name='nds' value='0' {{if (eq $exp "0")}}checked{{end}}> 0%
                    </div>
                        <button type='submit'>Add Expense</button>
                </form>
            </div>
            <div class="form-container">
                <label class='add_label'>Subcat to ID:</label>
                <input class='add_input' type='text' name='subcat' list="subcat" autocomplete='off'>
                    <datalist id="subcat">
                        {{range $.AddShow.Subcat}}
                            <option value="{{.}}">
                        {{end}}
                    </datalist>
            </div>
            <div class='form-container'>
                <form class='form' action="/upload" method="post" enctype="multipart/form-data">
                    <div class='form-group'>
                        <label class='add_label'>City:</label>
                        <input class='add_input' type='text' name='city' list="city_names" value='челябинск' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label for='subcat' class='add_label'>Subcat:</label>
                        <input class='add_input' type='text' name='subcat' autocomplete='off'>
                    </div>
                    <label for='file'>Select a file:</label>
                    <input type='file' id='file' name='file'>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{end}}
    {{end}}
{{end}}