{{template "base" .}}

{{define "title"}}New Expense{{end}}

{{define "main"}}
    {{if .AddShow}}
        {{with .AddShow}}
        <div class='horizontal-container'>
            <div class='form-container'>
                <form class='form' action='/add' method='POST'>
                    <div class='form-group'>
                        <label class='add_label'>Date:</label>
                        <input class='add_input' type='date' name='date' value='{{.Date}}' autocomplete='off'>
                    </div>
                    <div class='form-group' >
                        <label class='add_label'>Expense name:</label>
                        <input class='add_input' type='text' name='name' list="expense_name" autocomplete='off'>
                            <datalist id="expense_name">
                                {{range $.AddShow.ExpenseName}}
                                    <option value="{{.Name}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Subcat:</label>
                        <input class='add_input' type='text' name='subcat' list="subcat" autocomplete='off'>
                            <datalist id="subcat">
                                {{range .Subcat}}
                                    <option value="{{.Name}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>City:</label>
                        <input class='add_input' type='text' name='city' list="city_names" value='челябинск' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.City}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Online:</label>
                        <input class='add_input' type='text' name='online' list="online_choice" value='false' autocomplete='off'>
                            <datalist id="online_choice">
                                {{range .Online}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Expense count:</label>
                        <input class='add_input' type='text' name='count' autocomplete='off'>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Expense price:</label>
                        <input class='add_input' type='text' name='price' autocomplete='off'>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Nds:</label>
                        <input class='add_input' type='text' name='nds' list="nds" autocomplete='off'>
                            <datalist id="nds">
                                {{range .Nds}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                        <button type='submit'>Add Expense</button>
                </form>
            </div>
            <div class="form-container">
                <label class='add_label'>Subcat to ID:</label>
                <input class='add_input' type='text' name='subcat' list="subcata" autocomplete='off'>
                    <datalist id="subcata">
                        {{range $.AddShow.Subcat}}
                            <option value="{{.ID}} - {{.Name}}">
                        {{end}}
                    </datalist>
            </div>
            <div class='form-container'>
                <form class='form' action="/upload" method="post" enctype="multipart/form-data">
                    <div class='form-group'>
                        <label class='add_label'>City:</label>
                        <input class='add_input' type='text' name='city' list="city_names" value='челябинск' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.City}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label for='subcat' class='add_label'>Subcat:</label>
                        <input class='add_input' type='text' name='subcat' autocomplete='off'>
                    </div>
                    <label for='file'>Select a file:</label>
                    <input type='file' id='file' name='file'>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{end}}
    {{end}}
{{end}}