{{define "datesInput"}}

    <div class='form-container'>
        <form action='{{.URL}}' method='POST'>
            <label>Choose period: </label>
            <input type='date' name='date_low'></input>
            -
            <input type='date' name='date_high'></input>
            <input type='submit' value='Send'>
        </form>
    </div>
{{end}}