{{template "base" .}}

{{define "title"}}Expenses{{end}}

{{define "main"}}

    {{template "datesInput" .}}

    {{if .ExpensesShow}}
      <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Expense</th>
                    <th>Subcategory</th>
                    <th>Category</th>
                </tr>
            </thead>
            {{range .ExpensesShow}}
            <tbody>
                <tr>
                    <td class='expense'>{{.Date}}</td>
                    <td class='expense'>{{.Price}}</td>
                    <td class='expense'>{{.Expense}}</td>
                    <td class='expense'>{{.Subcat}}</td>
                    <td class='expense'>{{.Cat}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
      </div>
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}

{{end}}