{{template "base" .}}

{{define "title"}}New Expense{{end}}

{{define "main"}}
    {{if .AddShow}}
        {{with .AddShow}}
        <div class='horizontal-container'>
            <div class='form-container'>
                <form class='form' action='/expense/add' method='POST'>
                    <div class='form-group'>
                        <label class='add_label'>Date:</label>
                        <input class='add_input' type='date' name='date' value='{{.Date}}' autocomplete='off'>
                    </div>
                    <div class='form-group' >
                        <label class='add_label'>Expense name:</label>
                        {{with .Form.Errors.Get "name"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='name' value='{{.Form.Values.Get "name"}}' list='expense_name' autocomplete='off'>
                            <datalist id="expense_name">
                                {{range .Name}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Category:</label>
                        {{with .Form.Errors.Get "category"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='category' value='{{.Form.Values.Get "category"}}' list="category" autocomplete='off'>
                            <datalist id="category">
                                {{range .Category}}
                                    <option value="{{.}}">
                                {{end}}
                            </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>City:</label>
                        <input class='add_input' type='text' name='city' list="city_names" value='{{.DefaultCity}}' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Online:</label>
                        {{$exp := or (.Form.Values.Get "online") "false"}}
                        <input type='radio' name='online' value='false' {{if (eq $exp "false")}}checked{{end}}> false
                        <input type='radio' name='online' value='true' {{if (eq $exp "true")}}checked{{end}}> true
                    </div>
                    <div class='form-group'>
                        <label class='add_label'>Expense count:</label>
                        {{with .Form.Errors.Get "count"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input class='add_input' type='text' name='count' value='{{.Form.Values.Get "count"}}' autocomplete='off'>
                    </div>
                    <div class='form-group'>
                        <label for='price' class='add_label'>Expense price:</label>
                        {{with .Form.Errors.Get "price"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input id='price' class='add_input' type='text' name='price' value='{{.Form.Values.Get "price"}}' autocomplete='off'>
                    </div>
                        <button type='submit'>Add Expense</button>
                </form>
            </div>
            <div class='form-container'>
                <form class='form' action="/expense/upload" method="post" enctype="multipart/form-data">
                    <div class='form-group'>
                        <label for='city_check' class='add_label'>City:</label>
                        {{with .Form.Errors.Get "city_check"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input id='city_check' class='add_input' type='text' name='city_check' list="city_names" value='{{.DefaultCity}}' autocomplete='off'>
                        <datalist id="city_names">
                            {{range .Cities}}
                                <option value="{{.}}">
                            {{end}}
                        </datalist>
                    </div>
                    <div class='form-group'>
                        <label for='category_check' class='add_label'>Category:</label>
                        {{with .Form.Errors.Get "category_check"}}
                            <label class='error'>{{.}}</label>
                        {{end}}
                        <input id='category_check' class='add_input' type='text' name='category_check' value='{{.Form.Values.Get "category_check"}}' autocomplete='off'>
                    </div>
                    <label for='file'>Select a file:</label>
                    {{with .Form.Errors.Get "file"}}
                        <label class='error'>{{.}}</label>
                    {{end}}
                    <input id='file' type='file' name='file' value='{{.Form.Values.Get "file"}}'>
                    <button type="submit">Submit</button>
                </form>
            </div>
        </div>
        {{end}}
    {{end}}
{{end}}