{{template "base" .}}

{{define "title"}}Search{{end}}

{{define "main"}}

    <div class='form-container'>
        <form action='/expense/search' method='POST'>
            <label>Search Expense: </label>
            <input type='text' name='search'>
            <input type='submit' value='Send'>
        </form>
    </div>
    {{if .SearchResult}}
          <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Date</th>
                    </tr>
                </thead>
                {{range .SearchResult}}
                <tbody>
                    <tr>
                        <td class='expense'>{{.Name}}</td>
                        <td class='expense'>{{.Price}}</td>
                        <td class='expense'>{{.Date}}</td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
          </div>
        {{else}}
            <p>There's nothing to see here... yet!</p>
        {{end}}
{{end}}