{{template "base" .}}

{{define "title"}}Stats{{end}}

{{define "main"}}
    {{template "datesInput" .}}

    {{if .Statistics}}
        {{with .Statistics}}
        <div class='container'>
            <div class="data">
                    <h2>Total - {{.Sum}}</h2>
                    <div class="table-container">
                        <table>
                            <thead>
                                <tr>
                                    <th>Category</th>
                                    <th>Sum</th>
                                </tr>
                            </thead>
                                {{range .Statistics}}
                            <tbody>
                                <tr>
                                    <td>{{.Category}}</td>
                                    <td>{{.SumCategory}}</td>
                                </tr>
                                {{end}}
                            </tbody>
                        </table>
                    </div>
            </div>
            <div class='graph'>
                {{if .PngCategory}}
                    <svg class='graph'>
                        {{range $i, $path := .PngCategory}}
                            <g class="sector">
                                <path class='path' d="{{index $path 0}}" fill="{{index $path 1}}" transform="scale(2)"></path>
                                <text x="200" y="50" class="tooltip_graph">{{index $path 3}}: {{index $path 2}}</text>
                            </g>
                        {{end}}
                    </svg>
                {{else}}
                    <p>No graph</p>
                {{end}}
            </div>
        </div>
        {{end}}
    {{else}}
        <p>There's nothing to see here... yet!</p>
    {{end}}
{{end}}